<?xml version="1.0"?>
<configuration>
  <startup> 
    <!-- 
    Not sure what this does? Then don't touch! This allows users to run these 
    examples on .NET 2.0 systems and beyond because of the compatibility break
    between .NET 3.5 and 4.0.
    -->
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>    
</configuration>
